# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data
data/

# Distribution / packaging
*.manifest
*.spec

# Testing
.pytest_cache/
.tox/
htmlcov/
.coverage
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo
